body {
	margin:0;
	padding:0;
	background-color: white;
}
header h1{
	padding:5;
	margin:5;
	height:75px;
	width:900px;
	background-color: gray;
	position: relative;
}

.container {
	width: auto;
	padding: 5px 100px 5px 5px; /* room for right sidebar */
	border: 1px solid black;
	background: none;
	overflow: auto;
}

.main_left {
	float: left;
	height:200px;
	width: 48%
	border: 1px solid black;
}

.main_center {
	float: left;
	height: 120px;
	width: 48%;
	border: 1px
}

.gallery a img{
	list-style-type: none;
	height: 200px;
	width:200px;
	opacity:0.6;
}

.gallery a:hover img:hover{
	opacity: 1.0;
}

footer{
	padding:0;
	margin:0;
	height:100px;
	width:900px;
	position: absolute;

}

p {
    color: red;
    margin: 5px;
    cursor: pointer;
  }

.gallery a:hover {
    height: 400px;
    width: 400px;
  }